.dogs p {
  background-color: lightcoral;
  width: 300px;
  float: left;
  border: 2px darkblue;
  margin: 12px;
  padding: 4px;
}

.cats p {
  background-color: greenyellow;
  width: 300px;
  float: left;
  border: 2px darkblue;
  margin: 12px;
  padding: 4px;
}

.birds p {
  background-color: orange;
  width: 300px;
  float: left;
  border: 2px darkblue;
  margin: 12px;
  padding: 4px;
}

.dogs p a {
  font-weight: bold;
}

.cats p a {
  font-weight: bold;
}

.birds p a {
  font-weight: bold;
}

a {
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

body{
  background-color: skyblue;
}